<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <title>Document</title>
</head>
<body>
    
    <table>
        <caption>Mis 3 intereses favoritos</caption>
        <tr>
            <td>     
                {{ Futbol }}
                <br>
                <img src="{% static 'imagenes/futbol.jpg' %}" alt="Cancha de Futbol" width="200px" height="150px"/>
            </td>
            <td>
                {{ Libros }}
                <br>
                <img src="{% static 'imagenes/libros.jpg' %}" alt="Libros" width="200px" height="150px"/>
            </td>
            <td>
                {{ Videojuegos }}
                <br>
                <img src="{% static 'imagenes/juegos.jpeg' %}" alt="Juegos" width="200px" height="150px" />
            </td>
        </tr>
    </table>

</body>
</html>